.modal_button {
    padding: 15px 0;
    
    text-align: center;
    text-transform: uppercase;
    color: var(--light-green-active-button);
    font-weight: bold;
    font-size: 17px;

    border: 2px solid var(--light-green-main);
    border-radius: 15px;

    background-color: var(--white);
}

.modal_button_close {
    border: none;
    background-color: var(--transparent);
}