.header {
    display: flex;
    justify-content: start;
}

.header_left_part {
    display: flex;
    justify-content: space-around;

    background-color: lightblue;
}

.logo {

}

.tags {
    padding-top: 10px;

    width: 100%;

    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    background-color: aquamarine;
}

.tag {

}