.header {
    display: flex;
    justify-content: start;
}

.logo {
    width: 400px;
    margin-right: 20px;

    background-color: lightblue;
}

.tags {
    padding: 10px;

    width: 100%;
    background-color: aquamarine;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.tag {

}