.header {
    /* display: flex;
    justify-content: start; */

    /* background-color: #6D77EA; 
    grid-row-start: 1;
    grid-column-start: 2;

    grid-row-end: 2;
    grid-column-end: 3; */

    display: grid; 
    grid-template-columns: 1fr 0.2fr ; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        ". ."; 
    grid-area: header; 
}

.header_left_part {
    display: flex;
    justify-content: space-around;
}

.logo {

}

.tags {
    padding-top: 10px;

    width: 100%;

    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    background-color: aquamarine;
}

.tag {

}