.tags {
    width: 100px;

    background-color: var(--light-green-main);
}

.tags_list {
    position: fixed;
    right: 0;
}

@media only screen and (max-width: 1024px) {
    .tags {
        width: 100px;
    }
}