.categories {
    margin: 0 auto;
    
    width: 100%;
}

.category_name {
    margin: 20px 0;

    font-size: 50px;
    font-weight: bold;
}

.dishes_info {
    display: flex;
    flex-direction: column;
}

.dishes_info_name {
    margin: 5px 0;

    font-size: 30px;
}

.category_dishes_list {
    margin: 0;
    padding: 0;
    padding-bottom: 40px;

    display: grid;
    grid-template-columns: repeat(auto-fill, 370px); /* или repeat(auto-fit, 100px); */
    grid-gap: 25px;
    justify-content: center;

    list-style: none;
}

.dishes_item {
    padding: 25px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    box-sizing: border-box;
    border: 2px solid var(--light-green-main);
    border-radius: 15px;
}

.ingredients {
    margin: 15px 0;
    width: 100%;

    display: flex;
    flex-wrap: wrap;

    font-size: 17px;
    text-align: justify;
    font-style: italic;
}

.image_wrapper {
    height: 300px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 15px;

    overflow: hidden;
}

.image_wrapper img {
    width: 400px;
    min-height: 100%;

    flex-shrink: 0;
}

.ct_toast_product_added {
    width: 400px;
    
    font-size: 20px;
}

.ct_toast_product_added h3 {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

.dishes_add_button > button:hover {
    border: 2px solid var(--light-green-second);
    background-color: var(--light-green-second);
    color: var(--white);
}

.dishes_add_button > button:active {
    border: 2px solid var(--light-green-active-button);
    background-color: var(--light-green-active-button);
}