.categories {
    margin: 0 auto;
    
    width: 100%;
}

.category_name {
    margin: 20px 0;

    font-size: 50px;
    font-weight: bold;
}

.dishes_info {
    display: flex;
    flex-direction: column;
}

.dishes_info_name {
    margin: 5px 0;

    font-size: 30px;
}

.category_dishes_list {
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: repeat(auto-fill, 370px); /* или repeat(auto-fit, 100px); */
    grid-gap: 25px;
    justify-content: center;

    list-style: none;
}


.dishes_item {
    padding: 25px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    box-sizing: border-box;
    border: 2px solid #7EA27A;
    border-radius: 15px;
}

.button_add {
    padding: 25px 0;
    width: 100%;

    text-align: center;
    text-transform: uppercase;
    color: #495312;
    font-weight: bold;
    font-size: 20px;

    border: 2px solid #7EA27A;
    border-radius: 15px;
}

.button_add:hover {
    background-color: #7EA27A;
    color: white;
}


.dishes_item:hover {
    opacity: 0.8;
}

.ingredients {
    margin: 15px 0;
    width: 100%;

    display: flex;
    flex-wrap: wrap;

    font-size: 17px;
    text-align: justify;
    font-style: italic;
}

.image_wrapper {
    height: 300px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 15px;

    overflow: hidden;
}

.image_wrapper img {
    width: 400px;
    min-height: 100%;

    flex-shrink: 0;
}
