.categories_nav {
    padding: 20px;
    min-width: 350px;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    /* position: sticky; */
    top: 0;
    box-sizing: border-box;
    background-color: var(--light-green-main);
}
