.usernameBlock {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

.usernameBlock span {
    width: 50px;
}

.usernameBlock span svg {
    margin: 0 auto;
}

.categories_nav {
    padding: 20px;
    min-width: 350px;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    /* position: sticky; */
    top: 0;
    box-sizing: border-box;
    background-color: var(--light-green-main);
}

.categories_nav h1 {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;

    text-transform: uppercase;
    font-weight: 800;
    font-size: 50px;
}
