.categories_nav {
    min-width: 350px;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    /* position: sticky; */
    top: 0;

    background-color: var(--light-green-main);
}
