.modal_select_form_container {
    margin-bottom: 20px;
    width: 100%;
    height: 60px;
    
    display: flex;
    align-items: stretch;
}

.modal_select_form_container > button:hover {
    border: 2px solid var(--light-green-second);
    background-color: var(--light-green-second);
}

.modal_select_form_container > button:active {
    border: 2px solid var(--light-green-active-button);
    background-color: var(--light-green-active-button);
}

.modal_form {
    width: 100%;

    display: flex;
    align-items: center;
}

.modal_form_item {
    margin-bottom: 0;
    width: 100%;
    height: 100%;
}

.select {
    height: 60px;
    width: 100%;

    font-size: 20px;
    border: 2px solid var(--light-green-main);
    border-radius: 15px;
}

.select > div {
    border: none !important;
    background: none !important;
}

.option > div {
    min-height: 40px;
    
    display: flex;
    align-items: center;
    
    font-size: 18px;
}

.button_size {
    margin-left: 15px;
    width: 20%;
    height: 60px;
}