.modal_header_block {
    display: flex;
    justify-content: space-between;
}

.ant-modal-body {
    height: 100%;
}

.modal_visual_list_block {
    display: flex;
    height: calc(50vh - 2px);;

    flex: 1 1 auto;
    overflow-y: auto;
    
    border: 2px solid var(--light-green-main);
    border-radius: 15px;
}

.modal_visual_list_block::-webkit-scrollbar {
    width: 4px;
}

.modal_visual_list_block::-webkit-scrollbar-track {
    background: var(--green--light-green-second);
}

.modal_visual_list_block::-webkit-scrollbar-thumb {
    background-color: var(--light-green-active-button);
    border-radius: 2px;
}

.modal_bottom_buttons_block {
    display: flex;
    justify-content: space-between;
}

.modal_bottom_buttons_block > button:nth-child(1) {
    border: 2px solid var(--light-green-main);
    background-color: var(--light-green-main);
    color: var(--white);
}

.modal_bottom_buttons_block > button:nth-child(1):hover {
    border: 2px solid var(--light-green-second);
    background-color: var(--light-green-second);
}

.modal_bottom_buttons_block > button:nth-child(1):active {
    border: 2px solid var(--light-grin-active-button);
    background-color: var(--light-grin-active-button);
}

.modal_bottom_buttons_block > button:nth-child(2) {
    border: 2px solid var(--light-pink-main);
    background-color: var(--light-pink-main);
    color: var(--white);
}

.modal_bottom_buttons_block > button:nth-child(2):hover {
    border: 2px solid var(--light-pink-second);
    background-color: var(--light-pink-second);
}

.modal_bottom_buttons_block > button:nth-child(2):active {
    border: 2px solid var(--error);
    background-color: var(--error);
}

.ct_toast_error {
    width: 300px;
    
    font-size: 20px;
}

.ct_toast_error h3,
.ct_toast_error p {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}
.modal_content {
    margin: 0;
    padding-bottom: 0;

    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;

    display: flex;
    flex-direction: column;

    border: 2px solid var(--lightgray);
    border-radius: 15px;
    background-color: var(--white);
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 768px) {
    .modal_content {
        width: 550px;
    }
}