.content {
    display: flex;
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px; */

}

.categories_nav {
    width: 350px;
    background-color: #7EA27A;
}

.categories_nav_list {
    margin: 100px 0 0 40px;
    padding: 0;

    list-style: none;
}

.categories_nav_item {
    text-align: left;
    font-size: 30px;
}

.categories_nav_item a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}