.dishes_modal_block {
    margin-left: 30px;
    padding-left: 30px;
    flex-basis: 50%;
}

.dishes_modal_block h2 {
    margin-bottom: 0;

    font-size: 25px;
    color: var(--light-green-main);
}

.dishes_modal_block p {
    font-style: italic;
    margin-top: 0;
}

.dishes_list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.dishes_item {
    font-size: 20px;
    margin-bottom: 5px;
}

@media only screen and (max-width: 768px) {
    .dishes_item {
        font-size: 17px;
    }
}