.categories_nav_item {
    text-align: left;
    font-size: 30px;
}

.categories_nav {
    width: 350px;
    height: 100%;
    background-color: #7EA27A;
    grid-area: nav;
}

.categories_nav_list {
    margin: 100px 0 0 40px;
    padding: 0;

    list-style: none;
    position: fixed;
}

.categories_nav_item a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    white-space: nowrap;
}