.App {
  height: 100vh;

  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.nav_tablet {
  display: none;
}

@media only screen and (max-width: 768px) {
  .nav {
    display: none;
  }

  .nav_tablet {
    display: block;
  }
}
