@font-face {
  font-family: 'OpenSans';
  src: url('./assets/fonts/OpenSans-Regular.ttf') format('truetype')
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,'OpenSans', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --light-green-main: #7EA27A;
  --light-green-second: #89ca81;
  --light-green-active-button: #63815f;
  --white: white;
  --black: black;
  --light-pink-main: #e59292;
  --light-pink-second: #f17676;
  --error: #f43b3b;
  --disabled: #bdbdbd;
  --transparent: transparent;
  --lightgray: lightgray;
}
